In [1]:
import os
import torch
import pandas as pd
from torch.utils.data import Dataset
from skimage import io

In [ ]:
class CatsAndDogsDataset(Dataset):
    def __init__(self, csv_file, root_dir, transform=None) :
        self.anotations = pd.read_csv(csv_file)
        self.root_dir = root_dir
        self.transform = transform

    def __len__(self):
        return len(self.anotations)

    def __getitem__(self, index):
        img_path = os.path.join(self.root_dir, self.anotations.iloc[index, 0])
        image = io.imread(img_path)
        y_label = torch.tensor(int(self.anotations.iloc[index, 1]))

        if self.transform:
            image = self.transform(image)

In [7]:
data_file = os.path.join('./custom_dataset.csv')
with open(data_file, "w") as f:
    f.write('NumRooms, Alley, Price\n')
    f.write('NA,Pave,127500\n') #每行表示一个数据样本
    f.write('2,NA,10600\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

data = pd.read_csv(data_file) #读取csv文件
data

   NumRooms  Alley   Price
0       NaN   Pave  127500
1       2.0    NaN   10600
2       4.0    NaN  178100
3       NaN    NaN  140000

In [14]:
data_file = os.path.join('./cats_dogs.csv')
with open(data_file, "w") as f:
    f.write('Animal, Label\n')
    f.write('cat.0.jpg, 0\n')
    f.write('cat.1.jpg, 0\n')
    f.write('cat.2.jpg, 0\n')
    f.write('cat.3.jpg, 0\n')
    f.write('cat.4.jpg, 0\n')
    f.write('cat.5.jpg, 0\n')
    f.write('cat.6.jpg, 0\n')
    f.write('cat.7.jpg, 0\n')
    f.write('dog.0.jpg, 1\n')
    f.write('dog.1.jpg, 1\n')

In [10]:
data.iloc[0]

NumRooms       NaN
 Alley        Pave
 Price      127500
Name: 0, dtype: object

In [9]:
data.iloc[0,2]

127500